.game html,
.game body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.game body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

#gameCanvas {
  width: 100%; /* Đảm bảo canvas chiếm toàn bộ chiều rộng */
  height: 100%; /* Đảm bảo canvas chiếm toàn bộ chiều cao */
}

.game .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#score {
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 2em;
  font-weight: 900;
}

#introduction {
  top: 20%;
  left: 45%;
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  top: 30%;
  left: 47%;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}